* {
    font-family: "Open Sans", sans-serif;

}

header {
    background-image: url(../images/Head-bg.png);
    max-width: 1540px;
    height: 698px;
}

.head-icon-title {
    color: rgb(248, 63, 11);
    font-weight: 800px;

}

.heading {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 151px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top:50px; */

}

.heading-title {
    /* width: 905px;
   height: 245px; */
    margin-top: 158px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 34px;
}

.head-title {
    color: #4E47FF;
    font-weight: bolder;
}

.heading-sub-title {
    font-weight: bolder;
    font-weight: bold;
    font-size: 65px;
    margin: 0 auto;


}

ul li {
    list-style-type: none;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(245, 155, 122);
    color: black;
}

.webflow-action {
    height: 203px;
    width: 300px;
    text-wrap: wrap;
    padding: 30px;

}

.action-title {
    font-weight: bold;
    font-size: 42px;
}

.user-title {
    color: #8987A1
}

.action-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;

    height: 328px;
    margin-top: 70px;
}

.mini-picture {
    border-radius: 30px;
}

.user-head {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.user-say {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.user-percent {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user-count {}

.active-user {
    display: flex;
    justify-content: space-around;
}

.main-class {
    margin: 0px 150px;
    background-color: #dedef1;
    border-radius: 20px;
    padding: 70px 150px;
    height: 306px;

}

.content-banner {
    display: flex;
    justify-content: space-around;
}

.iamges-icon {
    gap: 20px;
    display: flex;
    align-items: center;

}

.pakhi-image {
    height: 40px;
    width: 40px;
    border-radius: 9999px;


}
.p3-2{
    padding: 5px;
}

.icon-img {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;

}

.focus-head {
    font-size: 50px;
    font-weight: bold;
}

.ready-focus {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
    background-color: #e4dede;
    padding: 30px 30px;
}

.focusd {
    text-align: center;

}

.bgc-image {
    border-radius: 50px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.from-name {
    font-size: 97px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 250px;
}

form {
    margin-top: 200px;
    align-items: center;


}

.fromclass {
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.from-class {
    width: 300px;
    height: 50px;
    padding: 30px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}


.textlabel {
    margin-right: 100px;

    font-weight: bold;


}

.get-in {
    display: flex;
    justify-content: space-between;
}

.btn-primaryy {
    background-color: #4E47FF;
    color: white;
    font-weight: bolder;
    padding: 10px 130px;
    border-radius: 10px;
    cursor: pointer;
}